
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>list page</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
                    {% for data in datas %}
					<h4> {{ data.name }}!
                    </h4>
                    <a href="{% url 'myapp:detail' data.id %}">View Details</a>
                    <hr>
                    {% endfor %}
				</div>
			</div>

	</div>


</body>
</html>